.theLeft {
  width: 30%;
  height: 600px;
  border: 1px solid #333;
  float: left;
  margin: 20px;
}

.theRight {
  width: 30%;
  height: 600px;
  border: 1px solid #333;
  float: left;
  margin: 20px;
}